.header h1,
.header p,
.header svg {
  margin: 10px 0;
  padding: 0;
}

.header {
  margin: 25px auto 0 auto;
  padding: 10px 20px;
  border-radius: 20px;
  background-color: #3a8bbb;
  color: white;
  width: 90%;
  max-width: 650px;
  max-height: 180px;
  overflow: static;
  box-sizing: border-box;
  margin-bottom: 20px;
}

.container {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 10px;
}

.header h1 {
  font-size: 1.5em;
}

.header p {
  font-size: 1em;
}

@media (max-width: 768px) {
  .header {
    width: 95%;
    padding: 15px;
  }

  .header h1 {
    font-size: 1.5em;
  }

  .header p {
    font-size: 0.95em;
  }
}

@media (max-width: 480px) {
  .header {
    width: 100%;
    border-radius: 10px;
  }

  .header h1 {
    font-size: 1.25em;
  }

  .header p {
    font-size: 0.9em;
  }
}
